@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Nunito:wght@500&display=swap');


   * {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Alegreya, sans-serif;
    font-weight: 500;
    color: #202d34
}

/* headings and logo */

h1, h2 {
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #202d34
}

#logo {
    float: left;
    font-size: 250%;
    padding-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #202d34;
}

.active {
    border-bottom: 1px solid #202d34;
}

/* hero image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image-2.png') no-repeat center center;
}

#intro-text-1, #intro-text-1 h2 {
    color: white;
    padding-left: 50px;
}

#intro-text-2, #intro-text-2 h2 {
    color: white;
    font-size: 150%;
    padding-left: 50px;
}

#intro-text-1 {
    font-size: 130%;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;

    width: 400px;
    height: 30px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;

    bottom: 370px;
    left: 0px;

    position: relative;
}

#intro-text-2 {
    font-size: 200%;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: left;

    width: 900px;
    height: 100px;

    padding-top: 20px;
    padding-left: 50px;

    bottom: 350px;
    left: 0px;

    position: relative;
}

/* mobility benefits */

#mobility-benefits-header {
    height: 100px;
    background-color: #202d34;
}

#mobility-benefits-header h2 {
    color: #fff;
    text-align: center;
    font-size: 250%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#mobility-benefits {
    height: 400px;
    background-color: #59efe3;
}

.column-1 {
    float: left;
    width: 33.33%;
    padding-top: 30px;
    text-align: center;
}

.column-2 {
    float: right;
    width: 33.33%;
    padding-top: 30px;
    text-align: center;
}

.column-3 {
    width: 33.33%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

#circle-bg-1 {
    background-color: #202d34;
    height: 100%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 30px;
    top: 50%;
    left: 50%;
    align-items: center;
    margin: 0 auto;
}

#circle-bg-1 h3 {
    text-align: center;
    color: #fff;
    font-size: 200%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle-bg-2 {
    background-color: #202d34;
    height: 100%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 30px;
    top: 50%;
    left: 50%;
    align-items: center;
    margin: 0 auto;
}

#circle-bg-2 h3 {
    text-align: center;
    color: #fff;
    font-size: 200%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle-bg-3 {
    background-color: #202d34;
    height: 100%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 30px;
    top: 50%;
    left: 50%;
    align-items: center;
    margin: 0 auto;
}

#circle-bg-3 h3 {
    text-align: center;
    color: #fff;
    font-size: 200%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* programmes section */
#programmes-header {
    height: 100px;
    background-color: #202d34;
}

#programmes-header h2 {
    color: #fff;
    text-align: center;
    font-size: 250%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#programmes {
    height: 300px;
}

#beginner, #intermediate, #advanced {
    background-image: url(../images/pexels-pixabay-209969.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#beginner h2, #intermediate h2, #advanced h2 {
    color: #fff;
    font-size: 300%;
    text-align: center;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#beginner h3, #intermediate h3, #advanced h3 {
    color: #fff;
    font-size: 200%;
    text-align: center;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#programmes div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

/* get started section */

#get-started-header {
    height: 100px;
    background-color: #202d34;
}

#get-started-header h2 {
    color: #fff;
    text-align: center;
    font-size: 250%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#start-text-1, #start-text-1 h2 {
    color: white
}

#start-text-2, #start-text-2 h2 {
    color: white
}

#start-text-1 {
    font-size: 100%;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-align: center;

    width: 100%;
    height: 30px;

    padding-top: 20px;
    padding-bottom: 0px;

    margin-top: 0px;

    position: relative;
}

#start-text-2 {
    font-size: 200%;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 100%;
    height: 100px;

    padding-top: 20px;

    bottom: 5px;

    position: relative;
}

#get-started {
    clear: left;
    background-color: #073268;
    height: 800px;
}

.signup-form {
    margin: auto;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 900px;
    position: relative;
    padding: 30px;
    top: 50px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
    font-size: 200%;
    text-align: left;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 3px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin: auto;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* SignUp Page */

.form-section {
    clear: left;
    background: url('../images/formbg\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form-2 {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form-2 h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input-2 {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input-2:hover {
    border-color: #f16c6b;
}

.join-button-2 {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button-2:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* About Us Page */

#about-header {
    height: 100px;
    background-color: #202d34;
    clear: left;
}

#about-header h2 {
    color: #fff;
    text-align: center;
    font-size: 250%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

  .section {
    margin-top: 30px;
    text-align: center;
  }

  .sub-section {
    margin-top: 25px;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .sub-section h2 {
    font-size: 24px;
    font-weight: bold;
  }

  .values {
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
  }

  #circle-coach-1 {
    background-color: #202d34;
    height: 100%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 30px;
    top: 50%;
    left: 50%;
    align-items: center;
    margin: 0 auto;
}

#circle-coach-1 h3 {
    text-align: center;
    color: #fff;
    font-size: 200%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle-coach-2 {
    background-color: #202d34;
    height: 100%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 30px;
    top: 50%;
    left: 100%;
    align-items: center;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/hero-image-2.png') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#mission-header {
    height: 100px;
    background-color: #202d34;
}

#mission-header h2 {
    color: #fff;
    text-align: center;
    font-size: 250%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#values-header {
    height: 100px;
    background-color: #202d34;
}

#values-header h2 {
    color: #fff;
    text-align: center;
    font-size: 250%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#values {
    background-image: url(../images/hero-image-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#values div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 33.3%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 0px;
    box-sizing: border-box;
}

#values h2 {
    color: #fafafa;
    text-align: center;
    font-size: 250%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a
}

/* Media Queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #mobility-benefits {
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }

    #mobility-benefits-header {
        padding: 30px 0;
        margin: 0;
        font-size: 100%;
    }

    #circle-bg-1 {
        background-color: #202d34;
        height: 100%;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        padding: 30px;
        top: 50%;
        left: 50%;
        align-items: center;
        margin: 0 auto;
    }

    #circle-bg-2 {
        background-color: #202d34;
        height: 100%;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        padding: 30px;
        top: 50%;
        left: 50%;
        align-items: center;
        margin: 0 auto;
    }

    #circle-bg-3 {
        background-color: #202d34;
        height: 100%;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        padding: 30px;
        top: 50%;
        left: 50%;
        align-items: center;
        margin: 0 auto;
    }

    #circle-bg-1 h3 {
        text-align: center;
        color: #fff;
        font-size: 150%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #circle-bg-2 h3 {
        text-align: center;
        color: #fff;
        font-size: 150%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #circle-bg-3 h3 {
        text-align: center;
        color: #fff;
        font-size: 150%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #programmes {
        height: 450px;
    }
    #programmes > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    #beginner h2, #intermediate h2, #advanced h2 {
        color: #fff;
        font-size: 200%;
        text-align: center;
        position: relative;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    #beginner h3, #intermediate h3, #advanced h3 {
        color: #fff;
        font-size: 150%;
        text-align: center;
        position: relative;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    #get-started {
        height: 800px;
    }
    
    #get-started-header {
        padding: 30px 0;
        font-size: 100%;
        height: 100px;
        }
}

/* For larger to medium screens size from 950px wide and down */
@media screen and (max-width: 950px) {
    
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #intro-text-1 {
        left: 0;
        width: 55%;
        clear: left;
        padding-left: 25px;
    }

    #intro-text-2 {
        left: 0;
        width: 85%;
        font-size: 150%;
        padding-left: 25px;
    }

    #mobility-benefits {
        width: 100%;
        height: 250px;
        margin: 0 auto;
    }
    
    #circle-bg-1 {
        background-color: #202d34;
        height: 100%;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 30px;
        top: 50%;
        left: 50%;
        align-items: center;
        margin: 0 auto;
    }

    #circle-bg-2 {
        background-color: #202d34;
        height: 100%;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 30px;
        top: 50%;
        left: 50%;
        align-items: center;
        margin: 0 auto;
    }

    #circle-bg-3 {
        background-color: #202d34;
        height: 100%;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 30px;
        top: 50%;
        left: 50%;
        align-items: center;
        margin: 0 auto;
    }

    #circle-bg-1 h3 {
        text-align: center;
        color: #fff;
        font-size: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #circle-bg-2 h3 {
        text-align: center;
        color: #fff;
        font-size: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #circle-bg-3 h3 {
        text-align: center;
        color: #fff;
        font-size: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #get-started {
        height: 900px;
    }
    
    #get-started-header {
        padding: 30px 0;
        font-size: 100%;
        height: 100px;
        }
    
    #start-text-1 {
        visibility: hidden;
        left: 0;
        width: 100%;
        clear: left;
        padding-left: 25px;
        font-size: 100%;
        text-align: center;
        background-color: 0;
    }

    #start-text-2 {
        left: 0;
        width: 100%;
        font-size: 150%;
        padding-left: 0px;
        text-align: center;
    }

    .signup-form {
        margin-top: 10px;
        width: 100%;
        float: left;
        clear: left;
        padding: 10px;
        text-align: center;
        align-content: center;
    }

}

/* For small screen sizes 800px and down */

    #intro-text-1 {
        left: 0;
        width: 100%;
        clear: left;
        padding-left: 10px;
    }

    #intro-text-2 {
        left: 0;
        width: 85%;
        font-size: 150%;
        padding-left: 10px;
    }
