@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Nunito:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Alegreya, sans-serif;
    font-weight: 500;
    color: #202d34
}

/* headings and logo */

h1, h2 {
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #202d34
}

#logo {
    float: left;
    font-size: 250%;
    padding-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #202d34;
}

.active {
    border-bottom: 1px solid #202d34;
}

/* hero image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/pexels-pixabay-209969.jpg') no-repeat center center;
}

#intro-text-1, #intro-text-1 h2 {
    color: white
}

#intro-text-2, #intro-text-2 h2 {
    color: white
}

#intro-text-1 {
    font-size: 130%;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-align: left;

    width: 400px;
    height: 30px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;

    background-color: #073268;

    bottom: 350px;
    left: 0px;

    position: absolute;
}

#intro-text-2 {
    font-size: 200%;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: left;

    width: 900px;
    height: 100px;

    padding-top: 20px;
    padding-left: 50px;

    bottom: 220px;
    left: 0px;

    position: absolute;
}

/* mobility benefits */

#mobility-benefits-header {
    height: 100px;
    background-color: #202d34;
}

#mobility-benefits-header h2 {
    color: #fff;
    text-align: center;
    font-size: 250%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#mobility-benefits {
    height: 400px;
    background-color: #59efe3;
}

.column-1 {
    float: left;
    width: 33.33%;
    padding-top: 30px;
    text-align: center;
}

.column-2 {
    float: right;
    width: 33.33%;
    padding-top: 30px;
    text-align: center;
}

.column-3 {
    width: 33.33%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

#circle-bg-1 {
    background-color: #202d34;
    height: 100%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 30px;
    top: 50%;
    left: 50%;
    align-items: center;
    margin: 0 auto;
}

#circle-bg-1 h3 {
    text-align: center;
    color: #fff;
    font-size: 200%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle-bg-2 {
    background-color: #202d34;
    height: 100%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 30px;
    top: 50%;
    left: 50%;
    align-items: center;
    margin: 0 auto;
}

#circle-bg-2 h3 {
    text-align: center;
    color: #fff;
    font-size: 200%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle-bg-3 {
    background-color: #202d34;
    height: 100%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 30px;
    top: 50%;
    left: 50%;
    align-items: center;
    margin: 0 auto;
}

#circle-bg-3 h3 {
    text-align: center;
    color: #fff;
    font-size: 200%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* programmes section */
#programmes-header {
    height: 100px;
    background-color: #202d34;
}

#programmes-header h2 {
    color: #fff;
    text-align: center;
    font-size: 250%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#programmes {
    height: 300px;
}

#beginner, #intermediate, #advanced {
    background-image: url(../images/pexels-pixabay-209969.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#beginner h2, #intermediate h2, #advanced h2 {
    color: #fff;
    font-size: 300%;
    text-align: center;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#beginner h3, #intermediate h3, #advanced h3 {
    color: #fff;
    font-size: 200%;
    text-align: center;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#programmes div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

/* get started section */

#get-started-header {
    height: 100px;
    background-color: #202d34;
    color: #fff;
}

#get-started-header h2 {
    color: #fff;
    text-align: center;
    font-size: 250%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#start-text-1, #start-text-1 h2 {
    color: white
}

#start-text-2, #start-text-2 h2 {
    color: white
}

#start-text-1 {
    font-size: 130%;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-align: left;

    width: 400px;
    height: 30px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;

    background-color: #073268;

    margin-top: 50px;

    position: absolute;
}

#start-text-2 {
    font-size: 200%;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: left;

    width: 900px;
    height: 100px;

    padding-top: 20px;
    padding-left: 50px;

    margin-top: 100px;

    position: absolute;
}

.form-section {
    clear: left;
    background: url("/assets/images/pexels-pixabay-209969.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

.signup-form {
    margin: 100px 2.5% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    right: 2.5%;
    padding: 30px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* Media Queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #mobility-benefits {
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }

    #mobility-benefits-header {
        padding: 30px 0;
        margin: 0;
        font-size: 100%;
    }

    #circle-bg-1 {
        background-color: #202d34;
        height: 100%;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        padding: 30px;
        top: 50%;
        left: 50%;
        align-items: center;
        margin: 0 auto;
    }

    #circle-bg-2 {
        background-color: #202d34;
        height: 100%;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        padding: 30px;
        top: 50%;
        left: 50%;
        align-items: center;
        margin: 0 auto;
    }

    #circle-bg-3 {
        background-color: #202d34;
        height: 100%;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        padding: 30px;
        top: 50%;
        left: 50%;
        align-items: center;
        margin: 0 auto;
    }

    #circle-bg-1 h3 {
        text-align: center;
        color: #fff;
        font-size: 150%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #circle-bg-2 h3 {
        text-align: center;
        color: #fff;
        font-size: 150%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #circle-bg-3 h3 {
        text-align: center;
        color: #fff;
        font-size: 150%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #programmes > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    #beginner h2, #intermediate h2, #advanced h2 {
        color: #fff;
        font-size: 200%;
        text-align: center;
        position: relative;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    #beginner h3, #intermediate h3, #advanced h3 {
        color: #fff;
        font-size: 150%;
        text-align: center;
        position: relative;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}

/* For larger to medium screens size from 950px wide and down */
@media screen and (max-width: 950px) {
    
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #intro-text-1 {
        left: 0;
        width: 45%;
        clear: left;
        padding-left: 25px;
    }

    #intro-text-2 {
        left: 0;
        width: 75%;
        font-size: 150%;
        padding-left: 25px;
    }

    #mobility-benefits {
        width: 100%;
        height: 250px;
        margin: 0 auto;
    }
    
    #circle-bg-1 {
        background-color: #202d34;
        height: 100%;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 30px;
        top: 50%;
        left: 50%;
        align-items: center;
        margin: 0 auto;
    }

    #circle-bg-2 {
        background-color: #202d34;
        height: 100%;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 30px;
        top: 50%;
        left: 50%;
        align-items: center;
        margin: 0 auto;
    }

    #circle-bg-3 {
        background-color: #202d34;
        height: 100%;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 30px;
        top: 50%;
        left: 50%;
        align-items: center;
        margin: 0 auto;
    }

    #circle-bg-1 h3 {
        text-align: center;
        color: #fff;
        font-size: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #circle-bg-2 h3 {
        text-align: center;
        color: #fff;
        font-size: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #circle-bg-3 h3 {
        text-align: center;
        color: #fff;
        font-size: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}


